<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="ConnString" connectionString="Data Source=TCCIT-MP-CORP05;Initial Catalog=Debtrak_Dev;User ID=sa;Password=uk-phIT123" />
    </connectionStrings>
    <appSettings>
        <add key="ArrowFolder" value="S:\Development Files\04 Arrow\TestData"/>
        <add key="CCLN" value="S:\Development Files\04 Arrow\CommonFiles\CCL_Number_Mapping.xlsx"/>
        <add key="ArrowKeyFinder" value="S:\Development Files\04 Arrow\CommonFiles\ArrowKeyFinder.sql"/>
        <add key="LoadCheck" value="S:\Development Files\04 Arrow\CommonFiles\ArrowLoadCheckSheet v1.0.sql"/>
    </appSettings>
</configuration>